#main-page .image {
  max-width: 450px;
  min-width: 45%;
  margin: auto;
}
#main-page .intro p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  padding-bottom: 1rem;
  margin-bottom: auto;
}
#main-page a {
  color: #3c484e;
}
#main-page a:hover {
  text-decoration: none;
}

#mc_embed_signup_scroll {
  text-align: center;
}
#mc_embed_signup_scroll >input {
  font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  display: block;
  padding:0 0.4em;
  margin:0 4% 10px 0;
  min-height:32px;
  width:100%;
  min-width:130px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Social Links
---------------------------------- */
#social{
  background: white;
  text-align: center;
  padding-bottom: 50px;
}

.social-links {
  padding: 0;
  list-style: none;
  margin: 15px 0;
}
.social-links li {
  margin: 10px 25px 10px 0;
  display: inline-block;
  font-size: 36px;
}

.social-links li.twitter a {
  color: #55acee;
}
.social-links li.github a {
  color: #000;
}
.social-links li.linkedin a {
  color: #007bb6;
}
.social-links li.atom a {
  color: #FF6600;
}
.social-links li.mail a {
  color: #2c4257;
}
.social-links li a:hover {
  color: #BBBBBB;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-links li.github a:hover {
  color: #555555;
}

