#main-page .image {
  max-width: 450px;
  min-width: 45%;
  margin: auto;
}
#main-page .intro p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin-bottom: auto;
}

.img-rounded {
  height: 60px;
  width: auto;
  border-radius: 100%;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}
