a:hover {
  text-decoration: none;
  color: #BBBBBB;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Banner home page
---------------------------------- */
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://s3.eu-west-2.amazonaws.com/gentux/Images/mountain-min.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 6em 0em 6em;
  text-align: center;
}

#banner h2 {
  color: #FFFFFF;
  font-size: 3em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
  line-height: 1.5em;
}

#banner p.description-text {
  max-width: 900px;
  margin: auto;
}

#banner img {
  border-radius: 10px;
  margin-bottom: 30px;
}

/* Social Links
---------------------------------- */
#social{
  background: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.social-links {
  padding: 0;
  list-style: none;
  margin: 15px 0;
}
.social-links li {
  margin: 10px 25px 10px 0;
  display: inline-block;
  font-size: 36px;
}

.social-links li.twitter a {
  color: #55acee;
}
.social-links li.github a {
  color: #000;
}
.social-links li.linkedin a {
  color: #007bb6;
}
.social-links li.atom a {
  color: #FF6600;
}
.social-links li a:hover {
  color: #BBBBBB;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-links li.github a:hover {
  color: #555555;
}

#more {
  background: url('/img/qbkls.png');
  border: 1px solid #888;
}

#more .box-image-text {
  background: #ecf0f1;
  border-radius: 10px;
  padding: 10px;
  transition-duration: .4s;
}

#more .box-image-text:hover {
  transform: scale(1.04);
}

#more .box-image-text .top {
  height: 220px;
}

#more .box-image-text h4 {
}

#more .box-image-text .intro {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

#more .col-article {
  padding-left: 0;
  padding rigth: 10px;
}

#more .read-more {
  text-align: center;
}

.container {
  max-width: 100%
}
