/* Banner home page
---------------------------------- */
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hd/mountain.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 10em 0em 14em;
  text-align: center;
}

#banner h2 {
  color: #FFFFFF;
  font-size: 3em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
  line-height: 1.5em;
}

#banner img {
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Social Links
---------------------------------- */
.social-links {
  padding: 0;
  list-style: none;
  margin: 15px 0;
}
.social-links li {
  margin: 10px 25px 10px 0;
  display: inline-block;
  font-size: 36px;
}
.social-links li a:hover {
  color: #BBBBBB;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-links li.twitter a {
  color: #55acee;
}
.social-links li.github a {
  color: #555555;
}
.social-links li.linkedin a {
  color: #007bb6;
}
.social-links li.atom a {
  color: #FF6600;
}
