body {
  padding-top: 50px;
  background: url("/img/sd/body-bg.png") repeat scroll 0px 0px #FFF;
}

footer {
  background-color: #222222;
  padding-top: 35px;
  height: 150px;
  font-size: 1.2em;
  color: #FFFFFF;
}
footer a {
  color: #95A5A6;
}
footer a:hover {
  color: #26A65B;
  text-decoration: none;
}
