@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        margin-left: 50%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes slideOut {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 50%;
    }
}

body {
    padding-top: 50px;
    background: url("/img/body-bg.png") repeat scroll 0px 0px #FFF;
}

header .post-date {
    text-align: right;
}
header h1 {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

article {
    animation-name: fadeIn; /*, slideIn; */
    animation-duration: 3s;
    animation-iteration-count: 1;
}

article,
.marketing {
    font-size: 1.2em;
    max-width: 650px;
    margin: auto;
}

.jumbotron h1 {
    margin-top: 0;
    font-size: 60.5px;
}

.marketing img {
    margin: 0 30%;
}

.license {
    text-align: center;
}

.github-logo {
    max-width: 16px;
}

.projects {
    list-style: none;
}
