body {
    padding-top: 50px;
}

header .post-date {
    text-align: right;
}
header h1 {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

article,
.marketing{
    font-size: 1.1em;
}

.jumbotron h1 {
    margin-top: 0;
    font-size: 60.5px;
}

.marketing img {
    margin: 0 30%;
}

.license {
    text-align: center;
}

.container {
    max-width: 650px;
}
