article {
  font-size: 1.2em;
  line-height: 1.3em;
  max-width: 740px;
  margin: auto;
}

article a {
  color: #22A7F0;
}

a:hover {
  text-decoration: none;
}

.post img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.post-banner {
  width: 100%;
  height: 300px;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}

.post-title-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
  background-position: center;
  margin-bottom: 1.5em;
}

.container {
  max-width: 740px;
}

.ml-logo {
  max-width: 100%;
}
