---
layout: default
description: Les formations
title: Formations prod'healer
custom_css: formations.css
---

<section id="main-page">
  <div class="container">
    {% assign formations = site.formations | sort: "toporder" %}
    {% for formation in formations %}
    <div class="d-md-flex flex-md-row d-sm-flex flex-sm-column mb-2">
      <div class="p-2 image">
        <a href="{{ formation.url }}">
        {% if formation.img %}
          <img src="{{ formation.img }}" class="rounded mx-auto d-block img-fluid w-100" alt="" />
        {% else %}
          <img src="/img/placeholder.png" class="img-fluid img-thumbnail" alt="" />
        {% endif %}
        </a>
      </div>

      <div class="p-2 content">
        <h4>{{ formation.title }}</h4>

        <div class="intro">
          {{ formation.excerpt }}
        </div>
        <a href="{{ formation.url }}" class="formation-link">
    link
        </a>
      </div>
    </div>

    <hr>
    {% endfor %}
  </div>
</section>
