---
layout: default
description: List of all my blog posts
title: Romain's blog posts
custom_css: posts.css
---
<section>
  <div class="container post-item">
    {% for post in site.posts %}
      {% if post.public %}
      <article>
        <div class="post">
          <a href="{{ post.url }}">
            <h2>{{ post.title }}</h2>
          </a>

          <p>
            <small>
              <span class="tags">
                <span class="label label-primary">{{ post.language }}</span>
              </span>
            </small>
            <time class="pubdate" datetime="{{ post.date | date_to_xmlschema }}">
              <i class="fa fa-calendar"></i>
              {{ post.date | date_to_long_string }}
            </time>
          </p>

          {% if post.img %}
            <a href="{{ post.url }}">
              <div style="background-image: url('{{ post.img }}')" class="post-title-image"></div>
            </a>
          {% endif %}

          <p>
            {% if post.description %}
              <span class="body">{{ post.description | markdownify }}</span>
            {% else %}
              <span class="body">{{ post.excerpt | strip_html }}</span>
            {% endif %}
          </p>
          <a class="btn btn-primary" href="{{ post.url }}">Read more</a>
        </div>
      </article>

      <hr>
      {% endif %}
    {% endfor %}
  </div>
</section>
