---
layout: default
description: Des articles pour démystifier les concepts liés aux environnements de productions
title: Articles de Prod'Healer
custom_css: blog.css
---

<section id="main-page">
  <div class="container">
    {% for post in site.posts %}
    {% if post.public %}
    <a href="{{ post.url }}">
      <div class="d-md-flex flex-md-row d-sm-flex flex-sm-column mb-2">
        <div class="p-2 image">
          {% if post.img %}
            <img src="{{ post.img }}" class="rounded mx-auto d-block img-fluid w-100" alt="" />
          {% else %}
            <img src="/img/placeholder.png" class="img-fluid img-thumbnail" alt="" />
          {% endif %}
        </div>

        <div class="p-2 content">
          <h4>{{ post.title }}</h4>

          <p class="post-author">
            <small>
              <span class="tags">
                <span class="label label-primary">{{ post.language }}</span>
              </span>
            </small>
            <time class="pubdate" datetime="{{ post.date | date_to_xmlschema }}">
              <i class="fa fa-calendar"></i>
              {{ post.date | date: '%d/%m/%Y' }}
            </time>
          </p>

          <div class="intro">
            {{ post.excerpt | regex_replace: '\<a href=".*">', '' | remove: '</a>' }}
          </div>
        </div>
      </div>
    </a>

    <hr>
    {% endif %}
    {% endfor %}
  </div>
</section>
