---
layout: backbone
---
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="https://s3.eu-west-2.amazonaws.com/gentux/Images/white_logo_transparent.png" height="40" class="d-inline-block align-top" alt="{{ site.name }}">
          </a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/posts.html">Blog</a></li>
            <li><a href="/projects.html">Projets</a></li>
            <li><a href="/atom.xml">RSS</a></li>
          </ul>
        </div>
      </div>
    </div>

    {{ content }}

    <footer id="footer">
      <div class="container">
        <div class="col-md-4 col-sm-6">
          <h4>À propos</h4>

          <p>
          Je m'appelle Romain Soufflet, et je propose actuellement mon
          expertise DevOps/SRE au travers de missions en tant qu'indépendant.
          </p>

          <p>
          Après plusieurs années de développement logiciel, je m’intéresse
          aux déploiements et aux chaînes de production logicielles. Depuis
          une dizaine d'année maintenant, un nouveau corps de métiers est né
          : <em>DevOps</em>.
          </p>

          <hr class="hidden-md hidden-lg hidden-sm">
        </div>

        <div class="col-md-4 col-sm-6">
          <h4>Derniers articles</h4>

          <div class="blog-entries">
            {% for post in site.posts limit: 4 %}
            {% if post.public %}
            <div class="item same-height-row clearfix">
              <div class="image same-height-always">
                <a href="{{ post.url }}">
                  {% if post.img %}
                  <img src="{{ post.img }}" class="img-responsive" alt="" >
                  {% else %}
                  <img src="/img/placeholder.png" class="img-responsive" alt="">
                  {% endif %}
                </a>
              </div>
              <div class="name same-height-always">
                <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>

          <hr class="hidden-md hidden-lg">
        </div>

        <div class="col-md-4 col-sm-6">
          <h4>Romain Soufflet</h4>

          <p>
            <a href="mailto:romain+website@soufflet.io">romain@soufflet.io</a>
          </p>
        </div>
      </div>
    </footer>

    <div id="copyright">
      <div class="container">
        <div class="col-md-12">
          <p class="pull-left">
            <a href="https://romain.soufflet.io/"><em>Romain Soufflet</em></a> - <a href="https://github.com/gentux/romain.soufflet.io">code source</a> -
            <a rel="license" href="//creativecommons.org/licenses/by-sa/4.0/">
              Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
            </a>
          </p>
          <p class="pull-right">
            Fait avec <em>Jekyll</em> : <a href="https://jekyllrb.com/">jekyllrb.com</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
