---
layout: backbone
---
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Accueil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          {% assign current = page.url | downcase | split: '/' %}

          <li class="nav-item {% if current[1] == 'formations.html' %}active{% endif %}">
            <a class="nav-link" href="/formations.html">Formations</a>
          </li>
          <li class="nav-item {% if current[1] == 'posts.html' %}active{% endif %}">
            <a class="nav-link" href="/posts.html">Blog</a>
          </li>
          <li class="nav-item {% if current[1] == 'about.html' %}active{% endif %}">
            <a class="nav-link" href="/about.html">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/atom.xml">RSS</a>
          </li>
        </ul>

        <div class="google-search">
          <form action="//google.com/search" method="get" accept-charset="UTF-8" role="search" class="form-inline my-lg-0">
            <div class="input-group">
              <input type="search" name="q" class="form-control" placeholder="Rechercher">
              <input type="hidden" name="sitesearch" value="https://romain.soufflet.io">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </nav>

    {{ content }}

    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h4>À propos</h4>

            <p>
            Je m'appelle Romain Soufflet, et je propose actuellement mon
            expertise DevOps/SRE au travers de missions en tant qu'indépendant.
            </p>

            <p>
            Après plusieurs années de développement logiciel, je m’intéresse
            aux déploiements et aux chaînes de production logicielles. Depuis
            une dizaine d'année maintenant, un nouveau corps de métiers est né
            : <em>DevOps</em>.
            </p>

            <hr class="d-md-none d-lg-none d-xl-none">
          </div>

          <div class="col-md-4 col-sm-6">
            <h4>Derniers articles</h4>

            <div class="blog-entries">
              {% for post in site.posts limit: 4 %}
              {% if post.public %}
              <div class="item same-height-row clearfix">
                <div class="image same-height-always">
                  <a href="{{ post.url }}">
                    {% if post.img %}
                    <img src="{{ post.img }}" class="img-responsive" alt="" >
                    {% else %}
                    <img src="/img/placeholder.png" class="img-responsive" alt="">
                    {% endif %}
                  </a>
                </div>
                <div class="name same-height-always">
                  <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>

            <hr class="d-md-none d-lg-none d-xl-none">
          </div>

          <div class="col-md-4 col-sm-6">
            <h4>Romain Soufflet</h4>

            <p>
              <a href="mailto:romain+website@soufflet.io">romain@soufflet.io</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <div id="copyright">
      <div class="container">
        <div class="col-md-12">
          <p class="pull-left">
            <a href="https://romain.soufflet.io/"><em>Romain Soufflet</em></a> - <a href="https://github.com/gentux/romain.soufflet.io">code source</a> -
            <a rel="license" href="//creativecommons.org/licenses/by-sa/4.0/">
              Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
            </a>
          </p>
          <p class="pull-right">
            Fait avec <em>Jekyll</em> : <a href="https://jekyllrb.com/">jekyllrb.com</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
