---
layout: default
custom_css: posts.css
---
    <script>
      /*
      var disqus_config = function () {
        this.page.url = "https://romain.soufflet.io{{ page.url }}";
        this.page.identifier = "{{ page.title }}";
      };
      */
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//rsoufflet.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <div class="container">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <p class="post-date">Published: <time pubdate="pubdate">{{ page.date | date_to_string }}</time></p>
        </header>

        <div class="post">
          {{ content }}
        </div>

        <hr>

        <div class="container" id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </article>
    </div>


    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-580229947f73602c"></script>
